<!DOCTYPE html>
<html lang="zxx" class="no-js">
<partial name="HeadPartial" />

<body>
    <partial name="HeaderPartial" />

    @this.RenderBody()

    <partial name="BrandsPartial" />


    <partial name="FooterPartial" />

    <partial name="ScriptPartial" />

    @this.RenderSection("Scripts", required: false)
</body>
</html>
