<li class="nav-item submenu dropdown">
    <a href="/Shop/Index" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">Shop</a>
    <ul class="dropdown-menu">
        <li class="nav-item"><a class="nav-link" href="/Shop/Index">Shop By Categories</a></li>
        <li class="nav-item"><a class="nav-link" href="/ShoppingCart/Index">Shopping Cart</a></li>
    </ul>
</li>
<li class="nav-item submenu dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">Account</a>
    <ul class="dropdown-menu">
        <li class="nav-item"><a class="nav-link" href="/Identity/Account/Manage">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/Orders/All">Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="/Identity/Account/Logout">Logout</a></li>
    </ul>
</li>