@using Palitra27.Web.ViewModels.Errors;
@model  CreationErrorViewModel;

@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>&nbsp;</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home/Index">&nbsp;</a>
                        <a href="/Administration/Products/Create">&nbsp;</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
</div>

<center>
    <h1>😞</h1>
    <h2 class="section_gap_error justify-content-end">
        We are really terribly sorry!
        @Model.ErrorMessage <a href="@Model.HyperLink">try again with a new one!</a>
    </h2>
</center>

