@using Palitra27.Web.ViewModels.Brands;
@using Palitra27.Services.Data

@model CreateBrandBindingModel;
@inject IBrandsService brandsService;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Delete Brand</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home/Index">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/Administration/Brands/Delete">Delete Brand</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

<section class="section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h3 class="mb-30 d-flex justify-content-center">Delete a Brand</h3>
                </div>
                <hr class="bg-panda" style="height: 2px" />
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @Html.AntiForgeryToken()                             
                    <div class="col-md-12 form-group">
                        <div class="form-select">
                            <select style="display: none;" asp-for="Name" class="justify-content-center">
                                @if (Model != null)
                                {
                                    <option selected="selected">@brandsService.FindAllBrands().FirstOrDefault(x => x.Name == Model.Name)</option>
                                }
                                else
                                {
                                    <option selected="selected" disabled="disabled">Choose Product Brand</option>

                                }
                                @foreach (var brand in brandsService.FindAllBrands())
                                {
                                    <option value="@brand.Name">@brand.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" value="submit" class="genric-btn info">Delete Brand</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>

