@using Palitra27.Web.ViewModels.FavouriteList;
@model List<FavouriteProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Favourite Products</h1>
                <nav class="d-flex align-items-center">
                    <a href="/Home/Index">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Favourites/Index">Favourite Products</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var favouriteItem in Model)
                            {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <a href="/Products/Info/@favouriteItem.Id"><img src="@favouriteItem.Image" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                            <p>@favouriteItem.Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$@favouriteItem.Price</h5>
                                </td>
                                <td>
                                    <h5>
                                        <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@favouriteItem.Id"><span class="iconBlue btn btn-primary btn-sm">Add To Cart</span></a>
                                    </h5>
                                </td>
                                <td>
                                    <h5>
                                        <a asp-controller="Favourites" asp-action="Delete" asp-route-productId="@favouriteItem.Id"><span class="iconRed btn btn-outline-danger btn-sm">Remove</span></a>
                                    </h5>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
<!--================End Cart Area =================-->
